.footerContainer {
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin: auto;
    width: 75%;
}

.topFooterContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    align-items: center;
}

.leftTopFooter p:nth-child(1) {
    font-weight: 600;
    color: #161C2D;
    font-size: 17px;
    padding-bottom: 5px;
}

.leftTopFooter p:nth-child(2) {
    color: #6B7C93;
    font-size: 14px;
    font-weight: 300;
}

.google-play {
    height: 50px;
    padding-right: 0.6rem;
    border-radius: 6px;
}

.app-store {
    height: 50px;
    border-radius: 6px;
}

hr {
    border-style: none;
    border-bottom: 1px solid #F1F4F8;
    width: 900px;
    margin: auto;
}

.bottomFooterContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.leftBottomFooter h2 {
    font-size: 20px;
    color: #335EEA;
    padding-bottom: 5px;
}

.leftBottomFooter p {
    color: #6B7C93;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;
}

.rightBottomFooter {
    display: flex;
}

.rightFooterColumn {
    padding-right: 4rem;

}

.rightFooterColumn p {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    color: #506690;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.rightFooterColumn li {
    list-style: none;
    color: #6B7C93;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;
}


.socialIcon {
    color: #869AB8;
    padding-right: 15px;
    transform: scale(1.1);
}

.productsServices {
    display: flex;
}

.connectLegal {
    display: flex;    

}


@media screen and (max-width:1200px) {
     .footerContainer {
        transform: scale(0.9);
        width: 90%;
    }

    hr {
    width: 800px;
}


}

@media screen and (max-width:1040px) {
    
    .footerContainer {
        transform: scale(0.8);
        width: 100%;
    }
}

@media screen and (max-width:950px) {
    .topFooterContainer {
        align-items: flex-start;
    }

    .bottomFooterContainer {
        padding-top: 3rem;
    }


       hr {
    width: 500px;
}

.rightBottomFooter {
    flex-direction: column;
}
.leftTopFooter {
    padding-bottom: 2rem;
}

.leftBottomFooter {
    padding-bottom: 2rem;
}

.productsServices {
    padding-bottom: 2rem;
}

}

@media screen and (max-width:650px) {
    .topFooterContainer {
        flex-direction: column;
    }

    .bottomFooterContainer {
        flex-direction:column;
    }
}


@media screen and (max-width:480px) {
    hr {
        width: 200px;
}

.rightFooterColumn {
    padding-right: 4rem;

}

.footerContainer {
    padding-bottom: 0;
    padding-top: 0;
}

}